
  <!-- head Section -->
  <section class="head" id="head">
    <h2 class="head_header">head <span class="light">LIGHT</span></h2>
    <p class="tagline">Light is a simple one page website</p>
  </section>
  <!--Tweet Section-->
  <% @extweet.each do |tweet| %>
  <section class="about col-8" id="about">
    <h2 class="tweet_title bg-light"><%= tweet.title %></h2>
    <p class="tweet_text text_column"><%= tweet.text %></p>
    <%= link_to 'Edit', "/extweets/#{tweet.id}/edit", method: :get %>
  </section>
  <% end %>