
  <!-- head Section -->
  <section class="head" id="head">
    <h2 class="head_header">head <span class="light">LIGHT</span></h2>
    <p class="tagline">Light is a simple one page website</p>
  </section>
  <!--Tweet Section-->
  <section class="about" id="about">
      <% @extweet.each do |tweet| %>
    <h2 class="tweet_title"><%= tweet.title %></h2>
    <p class="tweet_text text_column"><%= tweet.text %></p>
    <% end %>
  </section>
  